# List of untracked files to ignore
resources/
data/__pycache__/
models/__pycache__/
main/data_shredder/__pycache__/
main/__pycache__/
logs/
ddd/
main/extraction/.ignore_clipboard
main/feature_extraction/trial.ipynb
main/preproc/__pycache__/
main/extraction/__pycache__/
reference_codes/trial.ipynb
main/extraction/__pycache__/bci3_IVa.cpython-38.pyc
main/extraction/__pycache__/data_extractor.cpython-38.pyc
main/extraction/__pycache__/physionet_MI.cpython-38.pyc
models/QEEGNet_2020.py
./*.pyc
carla_bci_control/src/carla_bci_control/src/__pycache__/bci2ros.cpython-38.pyc
*/__pycache__/*.pyc
*/*/__pycache__/*.pyc
**/*.npz
docs/MotionControl.aux
docs/MotionControl.bbl
docs/MotionControl.bcf
docs/MotionControl.blg
docs/MotionControl.fdb_latexmk
docs/MotionControl.fls
docs/MotionControl.log
docs/MotionControl.out
docs/MotionControl.run.xml
docs/MotionControl.synctex.gz
docs/MotionControl.thm
docs/MotionControl.toc
